.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    text-align: center;
}

.content-item {
    padding: 5%;
}

#transactionTable {
    border-collapse: collapse;
    width: 100%;
    height: 10%;
}

#transactionTable th,
#transactionTable td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#transactionTable th {
    background-color: #f2f2f2;
}

#transactionTable tfoot td {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Стили для формы */
#transactionForm {
    width: 20%;
    margin-top: -5%;
}

#transactionForm label {
    display: block;
    margin-bottom: 10px;
}

#transactionForm input[type="datetime-local"],
#transactionForm input[type="number"],
#transactionForm input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#transactionForm button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#transactionForm button:hover {
    background-color: #45a049;
}

.deleteButton {
    padding: 5%;
}