body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#advice {
    color: #007acc;
    font-size: 18px;
    font-style: italic;
    border: 1px solid #007acc;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0f7ff;
}
